.section1{
    background:url(../imgs/AboutUs_imgs/s1_img.png) no-repeat center/ cover;
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 58px;
    align-items: center;
    padding: 167px 345px 223px 345px;
    min-width:430px;
}
.section1_title{
    font-weight: 500;
    font-size: 50px;
    font-family: var(--fontSatoshi);
    color: var(--white);
}
.section1_text{
    text-align: center;
    max-width: 698px;
    font-weight:400;
    line-height:30px;
    font-size: 20px;
    font-family: var(--fontSatoshi);
    color: var(--white);
}
.section2{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 121px 320px 159px 311px;
    min-width:430px;
}
.section2_title{
    font-weight: 400;
    font-size: 32px;
    font-family: var(--fontSatoshi);
    color: var(--orange);
}
.section2_text{
    text-align: center;
    max-width: 798px;
    font-weight:400;
    line-height:30px;
    font-size: 20px;
    font-family: var(--fontSatoshi);
    color: var(--white);
}
.section3{
    background: url(../imgs/AboutUs_imgs/s3_img.png) no-repeat center/ cover;
    width: 100%;
    height: 620px;
    min-width:430px;
}
.section4_title{
    text-align: center;
    color: var(--orange);
    margin-top: 70px;
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 32px;
    font-family: var(--fontSatoshi);
}
.section4_top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap ;
}
.section4_item{
    max-width: 340px;
}
.section4_item_text1{
    font-weight: 600;
    font-size: 20px;
}
.section4_item_text2{
   font-weight: 100;
   font-size: 20px;
}
.section4_bottom{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}