@media(max-width:1100px){
    .section1_item_img{
        width: 45%;
    }
}
@media(max-width:1000px){
    .section1_title{
        font-size: 30px;
    }
    .section1_item_box{
        max-width: 450px;
    }
}
@media(max-width:900px){
    .section1_item{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .section1_item_img{
        width: 100%;
        height: auto;
    }
    .section1_item_box{
        max-width :1000px;;
        order: -1;
    }

}
@media(max-width:500px){
    .section1{
        padding-inline: 10px;
    }
    .section1_title{
        font-size: 20px;
        
    }
}